{% extends "layout.html"%}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('regular_market', function(msg, cb) {
                $('#amc').text( $('<div/>').text('Regular:' + msg.amc_symbol + ': ' + msg.amc_price).html());
                $('#ape').text( $('<div/>').text('Regular:' + msg.ape_symbol + ': ' + msg.ape_price).html());
                if (cb)
                    cb();
            });
            socket.on('post_market', function(msg, cb) {
                $('#post_amc').text( $('<div/>').text('After:' + msg.amc_symbol + ': ' + msg.amc_price).html());
                $('#post_ape').text( $('<div/>').text('After:' + msg.ape_symbol + ': ' + msg.ape_price).html());
                if (cb)
                    cb();
            });

            socket.on('pre_market', function(msg, cb) {
                $('#pre_amc').text( $('<div/>').text('Pre:' + msg.amc_symbol + ': ' + msg.amc_price).html());
                $('#pre_ape').text( $('<div/>').text('Pre:' + msg.ape_symbol + ': ' + msg.ape_price).html());
                if (cb)
                    cb();
            });



        });
    </script>
    <h1>$AMC + $APE</h1>

    <div id="pre_sum"></div>
    <div id="pre_amc"></div>
    <div id="pre_ape"></div>
    <div id="reg_sum"></div>
    <div id="amc"></div>
    <div id="ape"></div>
    <div id="post_sum"></div>
    <div id="post_amc"></div>
    <div id="post_ape"></div>

{% endblock content %}